.hero + .section {
  background-color: var(--bg-color);
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}
.section > .heading {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
.button-hero {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 32px;
}
.feature-item > .feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-item > .feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.card-heading {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/*Портфолио*/
.block-button {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}
.block-button:hover,
.block-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.card-content > .heading {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-content > .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
